@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(space-between, center, 0px);
    background-color: $primary_color;
    margin-top: -60px;
    padding: 20px 55px;
    position: relative;
}

.containerCard {
    @include flex_box_custom(start, center, 20px);
    width: 280px;
    padding: 15px;
}

.containerContent {
    @include flex_box_custom(center, flex-start, 10px);
    flex-direction: column;
    color: $white_color;
    .title {
        font-size: 17px;
    }
    .des {
        font-size: 16px;
        color: #D2D2D2;
    }
}




