@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.container {
    @include flex_box_custom(center, center, 10px);
    flex-direction: column;
    cursor: pointer;

    .title {
        font-size: 18px;
        color: $four_color;
    }
}
